*{
  padding: 0px;
  margin: 0px;
}
.active{
  color: white;
  fill: white;
}
.active svg path {
  fill: white;
  color: white;
  fill-opacity: 1;
}
.active svg path#config1,.active svg path#config2{
  fill: transparent;
  stroke: white;
  stroke-opacity:1;
}
.disabled-link {
  pointer-events: none; 
  opacity: 0.8;
  text-decoration: none;
  cursor: not-allowed;
}
.text-style-none{
  text-decoration: none;
  color: white;
}

@media (max-width: 998px) {
  aside{
   display: none; 
  }
}